[submodule "vendor/catima"]
	path = vendor/catima
	url = https://github.com/gwm17/catima.git
[submodule "vendor/nlohmann_json"]
	path = vendor/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/csv-parser"]
	path = vendor/csv-parser
	url = https://github.com/vincentlaucsb/csv-parser.git
[submodule "vendor/HighFive"]
	path = vendor/HighFive
	url = https://github.com/BlueBrain/HighFive.git
